@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-gray-100 min-h-screen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
